fieldset {
    position: absolute;
    left: 600px;
    top: 100px;
    background-color: #deeaf6;
    width: 700px ;
    height: 600px;
}
#join {
    margin-top: 10px;
    left : 150px;
    background-color: #ededed;
    width: 400px;
    height: 400px;
    border-color: gainsboro;
}
table {
    background-color: #ededed;
    margin-top: 50px;
    margin-bottom: 40px;
    line-height: 40px;
}
table input {
    border-bottom: dotted;
    border-top: 0cap;
    border-right: 0cap;
    border-left: 0cap;
}
button {
width: 390px;
height: 50px;
background-color: #c5e0b5;
border-color: #c5e0b5;
color: darkgreen;
box-shadow: none;
}
input {
width: 280px;
background-color: #ededed;
}
#alert {
    font-size: 10px;
    color: gray;
    text-align: center;
    margin-top: 1px;
    border-bottom: 0cap;
}